build:
  lib_dirs:
    - vendor/bundle
    - .bundle
{{#has_bower}}
    - node_modules
    - bower_components
{{/has_bower}}
{{#can_run}}
web1:
  ports:
    - 80:8080
    - 443:8080
{{#rackup}}
  exec: bundle exec rackup --host 0.0.0.0 --port 8080 -P {{deploy_dir}}/var/run/rackup.pid config.ru
{{/rackup}}
{{#unicorn}}
  exec: bundle exec unicorn -c {{etc_dir}}/unicorn/config.rb
  log_watch:
    unicorn[stderr]: {{deploy_dir}}/var/log/unicorn/unicorn.stderr.log
    unicorn[stdout]: {{deploy_dir}}/var/log/unicorn/unicorn.stdout.log
{{/unicorn}}
{{#thin}}
  exec: bundle exec thin -R config.ru -C {{etc_dir}}/thin/config.yml start
  log_watch:
    thin: {{deploy_dir}}/var/log/thin/thin.log
{{/thin}}
{{#puma}}
  exec: bundle exec puma -C {{etc_dir}}/puma/config.rb
  log_watch:
    puma[stdout]: {{deploy_dir}}/var/log/puma/puma.stdout.log
    puma[stderr]: {{deploy_dir}}/var/log/puma/puma.stderr.log
{{/puma}}
{{#app_rb}}
  exec: bundle exec ruby app.rb -p 8080
{{/app_rb}}
{{/can_run}}
