user: gonano
group: gonano
port: 8080
pid: {{deploy_dir}}/var/run/thin.pid
timeout: {{timeout}}
wait: {{wait}}
log: {{deploy_dir}}/var/log/thin/thin.log
max_conns: {{max_conns}}
require: {{require}}
environment: {{environment}}
max_persistent_conns: {{max_persistent_conns}}
servers: {{servers}}
threaded: {{threaded}}
no-epoll: {{no_epoll}}
daemonize: false
chdir: {{live_dir}}
tag: {{app_name}}